
@font-face {
   font-family: 'whitedice';
   src: url('whitedice.eot');
   src: url('whitedice.eot?#iefix') format('embedded-opentype'),
        url('whitedice.woff') format('woff'),
        url('whitedice.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'blackdice';
   src: url('blackdice.eot');
   src: url('blackdice.eot?#iefix') format('embedded-opentype'),
        url('blackdice.woff') format('woff'),
        url('blackdice.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'mythicdice';
   src: url('mythicdice.eot');
   src: url('mythicdice.eot?#iefix') format('embedded-opentype'),
        url('mythicdice.woff') format('woff'),
        url('mythicdice.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'windlass';
   src: url('windlass.eot');
   src: url('windlass.eot?#iefix') format('embedded-opentype'),
        url('windlass.woff') format('woff'),
        url('windlass.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'amp';
   src: url('amp.eot');
   src: url('amp.eot?#iefix') format('embedded-opentype'),
        url('amp.woff') format('woff'),
        url('amp.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

span {text-decoration: blink;}

.bigger {
   font-size: 130%;
}

h1 {
   font-family: windlass;
   color: #91180e;
   font-weight: normal;
}

h2 {
   font-family: windlass;
   font-weight: normal;
}

h3 {
   font-variant: small-caps;
}

/* fix extra space between {h2|h3|h4} and paragraph */
h2, h3, h4 {
   margin-bottom: 0;
   margin-top: .66em;
}
h2 + p, h3 + p, h4 + p {
   margin-top: .33em;
}

p {
   margin-top: .5em;
   margin-bottom: .5em;
}

h2 {
   margin-top: 1em;
}

/* A hack to make small caps here less bad... still needs some math to tweak percentages
h3 {
   font-weight: 130%;
   font-size: 100%;
   font-variant: small-caps;
}

h3::first-letter {
   font-weight: 117%;
   font-size: 120%;
}
*/

.gameKeyword {
   color: #91180e;
   font-variant: small-caps;
   font-weight: bold;
}

.amp {
   font-family: amp;
   font-size: 115%;
   vertical-align: baseline;
   position: relative;
   bottom: -.1em;
}

.mythender {
   font-variant: small-caps;
   font-weight: bold;
}

a {
   color: #000;
   font-weight: bold;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.stormDie {
   font-family: whitedice;
}

.thunderDie {
   font-family: blackdice;
}

.bonusDie {
   font-family: blackdice;
   color: #91180e;
}

.mythicDie {
   font-family: mythicdice;
   color: #91180e;
   font-size: 125%;
}

.boxed {background-color: green;}

dl {background-color: pink;}

.giftQual {
   color: #58585a;
   font-variant: small-caps;
   font-weight: bold;
   margin-left: .5em;
}

.giftUpgrade {
   margin-left: .5em;
}

figcaption {
   font-style: italic;
   color: #58585a;
   text-align: center;
}

.content {
   background-color: #fff;
   margin-left: auto;
   margin-right: auto;
   padding: 2em;
   width: 750px;
}

body {
   /* gradient */
   background: #91180e; /* Old browsers */
   background: -moz-linear-gradient(top,  #91180e 1%, #3b1415 13%, #1e0a0a 26%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#91180e), color-stop(13%,#3b1415), color-stop(26%,#1e0a0a)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #91180e 1%,#3b1415 13%,#1e0a0a 26%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #91180e 1%,#3b1415 13%,#1e0a0a 26%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #91180e 1%,#3b1415 13%,#1e0a0a 26%); /* IE10+ */
   background: linear-gradient(to bottom,  #91180e 1%,#3b1415 13%,#1e0a0a 26%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91180e', endColorstr='#1e0a0a',GradientType=0 ); /* IE6-9 */

   /* other stuff */
   font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
   /*background-image: url("../img/dice-bg.png");*/
}

.ramm {
   color: #91180e;
   font-weight: bold;
}

/* there's a problem at #asdf... fix that up */
.rap {
   font-style: italic;
   margin-left: 1em;
}

/* for some reason .rap is still adding the margin... hmm */
span.rap {
   font-style: italic;
}

/* pod to select which gifts to display */
.giftsSelector {position:fixed;background:#fff4c8;border:1px solid #ffcc00;width:180px;z-index:100;font-size: 75%; font-family: sans-serif;}