p{
	margin: 0px;
}
h1{
	color: #A75A0C;
	font-size: 100.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 2.5641%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
.s1{
	color: #000000;
	font-size: 68.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 1.7094%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-indent: 0.0000%;
	text-transform: none;
}
.c1{
	font-size: 100.0000%;
}
.c2{
	font-size: 100.0000%;
	font-style: italic;
}
.c3{
	font-size: 100.0000%;
	font-style: italic;
}
.c4{
	font-size: 68.7500%;
}
