sup{
	font-size: 67%;
	vertical-align: 33%;
}
h2{
	color: #A75A0C;
	font-size: 81.2500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.4274%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
p{
	margin: 0px;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
h5{
	color: #A75A0C;
	font-size: 68.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.4274%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
h3{
	color: #65380A;
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.4274%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
h1{
	color: #A75A0C;
	font-size: 100.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 2.5641%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
h4{
	color: #A75A0C;
	font-size: 68.7500%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.4274%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s1{
	color: #000000;
	font-size: 68.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 1.7094%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s2{
	background: transparent;
}
.s3{
	color: #000000;
	font-size: 68.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s4{
	font-weight: bold;
}
.s5{
	background: #FFFFFF;
	border-bottom: 1px solid #F6BE72;
	border-left: none;
	border-right: 1px solid #F6BE72;
	border-top: none;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s6{
	background: #FFFFFF;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: 1px solid #F6BE72;
	border-top: none;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s7{
	background: #FFFFFF;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: none;
	border-top: none;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s8{
	background: #FCE9D0;
	border-bottom: 1px solid #F6BE72;
	border-left: none;
	border-right: 1px solid #F6BE72;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s9{
	background: #FCE9D0;
	border: 1px solid #F6BE72;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s10{
	background: #FCE9D0;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: none;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s11{
	background: transparent;
	border-bottom: 1px solid #F6BE72;
	border-left: none;
	border-right: 1px solid #F6BE72;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s12{
	background: transparent;
	border: 1px solid #F6BE72;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s13{
	background: transparent;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: none;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s14{
	margin-top: 2.5641%;
	padding-left: 0.0000%;
	text-indent: 0.0000%;
}
.s15{
	background: #FCE9D0;
	border-bottom: 1px solid #F6BE72;
	border-left: none;
	border-right: 1px solid #F6BE72;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: top;
	white-space: pre-wrap;
}
.s16{
	background: #FCE9D0;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: none;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: top;
	white-space: pre-wrap;
}
.s17{
	background: transparent;
	border-bottom: 1px solid #F6BE72;
	border-left: none;
	border-right: 1px solid #F6BE72;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: top;
	white-space: pre-wrap;
}
.s18{
	background: transparent;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: none;
	border-top: 1px solid #F6BE72;
	text-align: left;
	vertical-align: top;
	white-space: pre-wrap;
}
.s19{
	background: #FFFFFF;
	border-bottom: 1px solid #F6BE72;
	border-left: 1px solid #F6BE72;
	border-right: none;
	border-top: none;
	padding: 0.0% 0.0%;
	text-align: left;
	vertical-align: bottom;
	white-space: pre-wrap;
}
.s20{
	color: #000000;
	font-size: 68.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	margin-bottom: 1.7094%;
	margin-top: 0.0000%;
	padding-left: 7.6923%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s21{
	text-indent: -3.8462%;
}
.c1{
	font-size: 100.0000%;
}
.c2{
	font-size: 68.7500%;
}
.c3{
	font-size: 75.0000%;
}
.c4{
	color: #000000;
	font-size: 100.0000%;
	padding-right: 3.0%;
}
.c5{
	font-size: 100.0000%;
}
